<section layout="row" layout-align="center center" ng-if="!loaded">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</section>

<section ng-if="loaded">
    <md-list layout="column" ng-repeat="messagesMap in messages track by $index" ng-if="messagesMap.messages.length > 0">
        <md-subheader ng-class="messagesMap.className">{{messagesMap.label}}</md-subheader>
        <md-item ng-repeat="message in messagesMap.messages track by $index | orderBy:'when'">
            <md-item-content>
                <div class="md-tile-left">
                    <span class="{{message.from}} avatar" role="img" aria-label="{{selected.name}}"></span>
                </div>
                <div class="md-tile-content">
                    <h3>{{message.who}}</h3>
                    <h4>{{message.when | date:'MMM d, y \'at\' H:mm'}}</h4>
                    <p>{{message.what}}</p>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</section>

<section layout="column" ng-if="message.to">
    <md-progress-linear ng-if="waiting" class="md-accent" md-mode="indeterminate"></md-progress-linear>
    <form id="what" layout="row" ng-submit="createMessage()" class="md-whiteframe-z1 md-primary">
        <span class="{{user.avatar}} avatar" role="img" aria-label="{{user.who}}"></span>
        <md-input-container flex>
            <label>What</label>
            <input ng-model="message.what" columns="1" md-maxlength="150"/>
        </md-input-container>
        <md-button class="md-fab md-raised md-icon-container" aria-label="Reply">
            <md-inline-grid-icon icon="hangout"></md-inline-grid-icon>
        </md-button>
    </form>
</section>