/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}

.avatar {
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}