<md-list>
    <md-item>
        <md-input-container>
            <label>Find a friend</label>
            <input ng-model="searchedFriend">
        </md-input-container>
    </md-item>
    <md-item layout="row" layout-align="center center" ng-if="!loaded">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </md-item>
    <md-item ng-repeat="u in users | filter:{value:searchedFriend}" ng-if="u.key !== user.avatar">
        <md-item-content>
            <md-button ng-click="selectUser(u)" ng-class="{selected:isSelected(u)}">
                <span class="{{u.key}} avatar"></span>
                {{u.value}}
            </md-button>
        </md-item-content>
    </md-item>
</md-list>
